# OAR jobs defaults
site            "toulouse"
walltime        '1:00:00'
nodemanager     2
datanode        3         
colocated       true

# Your Grid'5000 login
user        'msimonin'

# SSH configuration
public_key      File.expand_path '~/.ssh/id_rsa.pub'
gateway         "#{self[:user]}@access.grid5000.fr"
